
<div class="row">
	<div class="span8 offset2">
		<h1 id="blogtitle">Super Blog</h1>		
	</div>
</div>
<div class="row">
	<div class="span8 offset2">
		<%= "No posts" unless @posts.any? %>
		<%  @posts.each do |post| %>
			<div class="well">
			<h2> <%= link_to post.title, post_path(post) %></h2>
			<p> <%= post.content %> </p>
			</div>
		<% end %>
	</div>

<div class="span2 well">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}" %>
  <% end %>

  	<% if current_user %>
  		Logged in as <%= current_user.email %>  | <%= link_to "Logout", logout_path %>
  		<p/>
  	<% else %>
		<%= link_to "Sign-up", "signup" %> |	<%= link_to "Login", "login" %>  		
  	<% end %>
	
	<%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
</div>